JWT_SECRET=your-super-secret-jwt-key-change-in-production
GOOGLE_CLIENT_ID=306829696059-nlveqqgfumojg6igpki06bjliq59kv7v.apps.googleusercontent.com
FRONTEND_URL=http://localhost:5173/
SUPABASE_URL=https://jqlpnjjpkmurntfgrreo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpxbHBuampwa211cm50ZmdycmVvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg0NTE5MCwiZXhwIjoyMDg5NDIxMTkwfQ.ERCDdsdrhxbQsUABumVxWKZljhx1iDiCXvlcfBzBBEQ

#google client secret = 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
# Optional fallback (legacy/new API key styles)
# SUPABASE_SECRET_KEY=sb_secret_xxx
# SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx


#admin id = admin@clashofair.com
# admin pass = Admin@clashofair